@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Reset universal */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif; /* Puedes cambiar la fuente si lo deseas */
}

body {
  line-height: 1.5;
  background-color: #fff; /* Fondo predeterminado */
  color: #000; /* Color de texto predeterminado */
}

/* Listas */
ul {
  list-style: none; /* Elimina bullets predeterminados de <ul> */
  padding: 0; /* Elimina padding predeterminado */
  margin: 0; /* Elimina margin predeterminado */
}

li {
  list-style: none; /* Asegura que <li> no tenga bullets ni números */
  margin: 0; /* Resetea margen por defecto */
  padding: 0; /* Resetea padding por defecto */
}

/* Elementos multimedia */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Formularios */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
}

/* Tablas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Enlaces */
a {
  text-decoration: none;
  color: inherit;
}

/* Botones */
button {
  background: none;
  cursor: pointer;
}
